modules = ["web", "nodejs-20", "ruby-3.2", "python-3.11"]
[agent]
expertMode = true
integrations = ["github:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node api/server.js"
waitForPort = 5000

[[ports]]
localPort = 3001
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "static"
build = ["bundle", "exec", "jekyll", "build"]
publicDir = "_site"

[userenv]

[userenv.shared]
STREAM_KEY_1 = "haap-vwh4-urs4-hmc3-8hg1"
STREAM_KEY_2 = "f4r7-peq5-peam-w5vh-9hbh"
STREAM_KEY_3 = "gfae-mu6y-mxm1-tk0k-2the"
