<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:site_name" content="VJs TV">
<meta property="og:title" content="{% if page.meta_title %}{{ page.meta_title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.data.general_settings.title }}{% endif %}">
<meta property="og:description" content="{% if page.meta_description %}{{ page.meta_description }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.data.general_settings.description }}{% endif %}">
{% if page.image %}
<meta property="og:image" content="{{ page.image | relative_url }}" />
{% elsif site.data.general_settings.meta_og_image %}
<meta property="og:image" content="{{ site.data.general_settings.meta_og_image | relative_url }}" />
{% endif %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@vjs_tv">
<meta name="twitter:title" content="{% if page.meta_title %}{{ page.meta_title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.data.general_settings.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.meta_description %}{{ page.meta_description }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.data.general_settings.description }}{% endif %}">
{% if page.image %}
<meta name="twitter:image" content="{{ page.image | relative_url }}" />
{% elsif site.data.general_settings.meta_twitter_image %}
<meta name="twitter:image" content="{{ site.data.general_settings.meta_twitter_image | relative_url }}" />
{% endif %}
<script type="application/ld+json">
{"@context":"https://schema.org","@type":"WebSite","name":"VJs TV","url":"{{ '/' | absolute_url }}","description":"{{ site.data.general_settings.description | strip_newlines | escape }}","potentialAction":{"@type":"SearchAction","target":"{{ '/search' | absolute_url }}?q={search_term_string}","query-input":"required name=search_term_string"}}
</script>